body {
	background-color: #F6F9FC;
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 16px;
	font-weight: normal;
}

h1,h2 {
	font-family: 'Montserrat', sans-serif;
}

h1{
	color: mediumpurple;
	letter-spacing: 3px;
	font-size: 32px;
	text-align: center;
	font-weight: bolder;
}

h2 {
	color: #A387D5;
	letter-spacing: 3px;
	font-size:20px;
	text-align:center;
	font-weight:bold;
}

a {
	text-decoration: none;
	color: #635BFF;
	transition: color 0.3s ease;
}

a:hover {
	color: mediumblue;
}


/*Custom design with class (99% of your design)*/
.container {
 	width: 700px;
	margin: 40px auto;
}

.card-white {
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 30px auto;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(188,188,188,0.5);
}

.btn-blue{
	background-color:#AADAFC;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	transition: color 0.4s ease
}

.btn-blue:hover{
	background-color: #FFDBD5;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover {
	font-size: 50px;
	color: black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

/*Design adjustments using id (1% design remaining)*/
#introduction p {
	margin-bottom: 40px;
}